.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
}
.root__selected > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root__selected > :global(.__wab_flex-container) > *,
.root__selected > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root__selected > :global(.__wab_flex-container) > picture > img,
.root__selected
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 16px;
}
.img__achw4 {
  position: relative;
  object-fit: cover;
  width: 80px;
  height: 100px;
  display: block;
  flex-shrink: 0;
}
.img__achw4 > picture > img {
  object-fit: cover;
}
.img__achw4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___1Gc0L {
  position: relative;
  object-fit: cover;
  width: 80px;
  height: 100px;
  display: block;
  flex-shrink: 0;
}
.img___1Gc0L > picture > img {
  object-fit: cover;
}
.img___1Gc0L > .__wab_img-spacer > img {
  object-fit: cover;
}
.rectangle30 {
  plasmic-display-none: false;
  width: 43px;
  height: 6px;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  background: rgba(33, 65, 179, 1);
  flex-shrink: 0;
  border-radius: 7.6px;
}
.rectangle30__selected {
  left: auto;
  top: auto;
  align-self: center;
}
