.root {
  display: flex;
  position: relative;
  width: 201px;
  height: 32px;
  justify-content: center;
  align-items: center;
  align-content: unset;
}
.slotHubTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 24px;
  letter-spacing: 0px;
}
.root:hover .slotHubTitle > *,
.root:hover .slotHubTitle > .__wab_slot > *,
.root:hover .slotHubTitle > .__wab_slot > .__wab_slot > *,
.root:hover .slotHubTitle > .__wab_slot > .__wab_slot > .__wab_slot > *,
.root:hover .slotHubTitle > picture > img,
.root:hover .slotHubTitle > .__wab_slot > picture > img,
.root:hover .slotHubTitle > .__wab_slot > .__wab_slot > picture > img,
.root:hover
  .slotHubTitle
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  text-decoration-line: underline;
}
