.root {
  transform: translate(0.43600000000000705px, 0px);
  width: 20px;
  height: 4px;
  display: block;
  transform-origin: top left;
  position: relative;
}
.highlighter {
  box-shadow: 0px 1.46px 7.3px 0px rgba(0, 0, 0, 0.25),
    0px 0px 0px 1.2px rgba(33, 65, 179, 1);
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-90.0572957604145deg) skew(-0.05729570311883569deg, 0deg)
    translate(0px, -0.4450000000000003px);
  width: 18.14%;
  height: 20px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 4px;
  left: 0%;
  background: rgba(252, 250, 246, 1);
  border-radius: 3.555px;
}
.bar {
  box-shadow: inset 0px 0px 0px 0.699px rgba(252, 250, 246, 1);
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-90.0572957604145deg) skew(-0.05729570311883569deg, 0deg)
    translate(0px, -0.4450000000000003px);
  width: 18.14%;
  height: 20px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 4px;
  left: 0%;
  background: rgba(116, 0, 190, 1);
  border-radius: 3.555px;
}
.bar__colors_red {
  background: #d6455b;
}
.bar__colors_orange {
  background: #eb8442;
}
.bar__colors_yellow {
  background: #f9c43c;
}
.bar__colors_dark {
  background: #353132;
}
.bar__deselected {
  box-shadow: none;
}
.root:not(:active) .bar {
  box-shadow: none;
}
