.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.buttonDefault {
  background: rgba(33, 65, 179, 1);
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.25));
  width: auto;
  height: 24px;
  display: inline-flex;
  overflow: hidden;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 6px 13px;
}
.buttonDefault > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.buttonDefault > :global(.__wab_flex-container) > *,
.buttonDefault > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonDefault > :global(.__wab_flex-container) > picture > img,
.buttonDefault
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.slotText {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: rgba(250, 247, 238, 1);
  text-align: center;
  line-height: 16px;
  letter-spacing: 0px;
}
