.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 677px;
  height: 666px;
  left: 151px;
  top: 63px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: stretch;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
  margin-top: 10px;
}
.videoItem__kiRy8:global(.__wab_instance) {
  position: relative;
}
.videoItem__unKg2:global(.__wab_instance) {
  position: relative;
}
.videoItem__kRi3I:global(.__wab_instance) {
  position: relative;
}
.videoItem__g3YV:global(.__wab_instance) {
  position: relative;
}
.videoItem__xdroQ:global(.__wab_instance) {
  position: relative;
}
.videoItem__gOn1B:global(.__wab_instance) {
  position: relative;
}
.videoItem__svCe7:global(.__wab_instance) {
  position: relative;
}
.videoItem__bAsRw:global(.__wab_instance) {
  position: relative;
}
.videoItem__dUtW:global(.__wab_instance) {
  position: relative;
}
.videoItem__eyNo:global(.__wab_instance) {
  position: relative;
}
.videoItem__w88O0:global(.__wab_instance) {
  position: relative;
}
.videoItem__pllIc:global(.__wab_instance) {
  position: relative;
}
.videoItem__xHHU:global(.__wab_instance) {
  position: relative;
}
.videoItem__y91X4:global(.__wab_instance) {
  position: relative;
}
.headerMenu:global(.__wab_instance) {
  position: relative;
}
.itemTwitterFixed:global(.__wab_instance) {
  position: relative;
}
.twitterItem:global(.__wab_instance) {
  position: relative;
  width: 1370px;
}
